<h3>Drag and Drop to Table</h3>
      <div>
      <div>
        <ul style="margin:0;padding:0;color:black:">
            <li *ngFor="let hero of availableHeros" [pDraggable]="'heroes'" dragEffect = "copyLink"
            (onDragStart)="dragStart($event,hero)" (onDragEnd)="dragEnd($event)">
                <div>{{hero.id}} - {{hero.name}}</div><br/>
            </li>
        </ul>
      </div>

      <div class="ui-g-12 ui-md-6 drop-column" 
        (onDrop)="drop($event)" dropEffect="link" [ngClass]="{'ui-highlight-car':draggedHero}"><br/>
        <p-table [value]="selectedHeros">
            <ng-template pTemplate="header">
                <tr>
                    <th>id</th>
                    <th>name</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-hero>
                <tr>
                    <td>{{hero.id}}</td>
                    <td>{{hero.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
      </div>

<upload></upload>
  